extends ../../layouts/default.pug
include  ../../mixins/filterStatus.pug

block main 
    
    h1(class="mb-4") Mode pages 
    .card.mb-3 
        .card-header List 
        .card-body 
            .row 
            table(class="table table-hover table-sm")
                thread 
                    tr 
                        th STT 
                        th Mode 
                        th Status or Value
                tbody 
                     tr 
                        td #{1} 
                        td Power Saving Mode 
                        td
                            if(mode.powerSavingMode =='on')
                                a(
                                href="javascript:;" 
                                data-mode="powerSavingMode"
                                class=`badge bg-success text-decoration-none`
                                button-change-powerSavingMode
                                data-powerSavingMode=mode.powerSavingMode
                                ) On
                            else 
                                a(
                                href="javascript:;" 
                                data-mode="powerSavingMode"
                                class=`badge bg-secondary text-decoration-none`
                                button-change-powerSavingMode
                                data-powerSavingMode=mode.powerSavingMode
                                ) Off
                     tr 
                        td #{2} 
                        td Auto Light Mode 
                        td
                            if(mode.autoLightMode =='on')
                                a(
                                href="javascript:;" 
                                data-mode="autoLightMode"
                                class=`badge bg-success text-decoration-none`
                                button-change-autoLightMode
                                data-autoLightMode=mode.autoLightMode
                                ) On
                            else 
                                a(
                                href="javascript:;" 
                                data-mode="autoLightMode"
                                class=`badge bg-secondary text-decoration-none`
                                button-change-autoLightMode
                                data-autoLightMode=mode.autoLightMode
                                ) Off
                     tr 
                        td #{3} 
                        td Brightness
                        td
                            form(
                                action=`${prefixAdmin}/mode/change-brightness_normal?_method=PATCH`
                                method='POST'
                            )
                                div(class="form-group")
                                    label(for="brightness_normal") Brightness 
                                    input(
                                        type="number"
                                        min="30"
                                        max="255"
                                        class="form-control"
                                        id="brightness_normal"
                                        name="brightness_normal"
                                        value=mode.brightness_normal
                                        required 
                                    )
                                div(class="form-group")
                                    button(
                                        type="submit"
                                        class="btn btn-primary"
                                    ) Change 
                            
    form(
        action=""
        method="POST"
        id="form-change-powerSavingMode"
        data-path=`${prefixAdmin}/mode/change-powerSavingMode`
    )
    form(
        action=""
        method="POST"
        id="form-change-autoLightMode"
        data-path=`${prefixAdmin}/mode/change-autoLightMode`
    )