extends ../../layouts/default.pug
include  ../../mixins/filterStatus.pug
include  ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
block main 
    h1 reports page
    .card.md-3 
        .card-header Reports List
            .card-body 
                .row 
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Label </th>
                            <th scope="col">Light title </th>
                            <th scope="col">Status</th>
                            <th scope="col">description</th>
                            <th scope="col">Time</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        each item,index in reports 
                            <tr>
                                <th scope="row">#{index+1}</th>
                                <td>#{item.light_title}</td>
                                <td>#{item.status}</td>
                                <td>#{item.description}</td>
                                <td>#{item.time}</td>
                                <td>#{item.date}</td>
                    
                    </tbody>
                </table>