extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    +alert-error("2000")
    h1(class="md-4") Create new device 
    form(
        action=`${prefixAdmin}/devices/create`
        id='form-create-devices'
        method='POST'

    )
        div(class="form-group")
            label(for="title") Title ("light+number") ex: light12
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                
            )
        div(class="form-group")
            label(for="type") Type
            input(
                type="text"
                class="form-control"
                id="type"
                name="type"
                
            )
        div(class="form-group")
            label(for="latitude") Latitude
            input(
                type="number"
                class="form-control"
                id="latitude"
                name="latitude"
                min="-90"
                max="90"
                step="0.0000000000000001"
                 
            )
        div(class="form-group")
            label(for="longitude") Longitude
            input(
                type="number"
                class="form-control"
                id="longitude"
                name="longitude"
                min="-180"
                max="180"
                step="0.0000000000000001"
            )
        div(class="form-group")
            label(for="installationDate") Installation date
            input(
                type="date"
                class="form-control"
                id="installationDate"
                name="installation_date"
                min="1900-1-1"
                 
            )
        div(class="form-group")
            label(for="lastMaintenance") Last maintenance
            input(
                type="date"
                class="form-control"
                id="lastMaintenance"
                name="last_maintenance"
                min="1900-1-1"
                 
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Create 
    script(src="/admin/js/device.js")
