.sidebar
        a(href=`${prefixAdmin}/dashboard`) Dashboard
        a(href=`${prefixAdmin}/devices`) Devices
        a(href=`${prefixAdmin}/accounts`) Accounts
        a(href=`${prefixAdmin}/schedule`) Schedule
        a(href=`${prefixAdmin}/mode`) Mode
        a(href=`${prefixAdmin}/reports`) Reports